/* editor-styles.css */

.editable-area-highlight {
}
.editable-area-margin {
  border-left: 3px solid #1d293d;
  background-color: #ddd;
}

.dimmed-area-highlight {
  background-color: #eee;
}

.dimmed-code {
    opacity: 0.6 !important;
    cursor: not-allowed;
  }

.dimmed-margin {
  background-color: #eee;
}
